
<ion-view id="page16" title="Menu">
    <ion-content class="has-header" padding="false"  ng-init="loadCategorias()"  >

        <ion-slide-box auto-play ="true" does-continue="true" show-pager="true"  >

            <!-- width: 100% height 50% to fill the slidder image according to the layout -->
            <ion-slide class="swiper-slide swiper-slide-active" style="width:100%; height: 50%;"  >
                <div>
                    <img  ng-src="{{'img/promos/promo1.jpg'}}" >
                </div>
            </ion-slide >
               <ion-slide class="swiper-slide swiper-slide-active" style="width:100%; height: 50%;"   >
                <div>
                    <img  ng-src="{{'img/promos/promo2.jpg'}}" >
                </div>
            </ion-slide >

               <ion-slide class="swiper-slide swiper-slide-active" style="width:100%; height: 50%;"  >
                <div>
                    <img  ng-src="{{'img/promos/promo3.jpg'}}" >
                </div>
            </ion-slide>
        </ion-slide-box>


        <div class="button-bar">

        </div>



        <ul class="cate-lv1">




            <li class="item-background cate-lv1-item" ng-repeat="item in categorias" ng-click="showProductInfo(item)"
                style="background: url({{url+'/'+ item.cat_imagen}}) no-repeat; background-size: cover;" width="100%">
                <div class="item-wrapper">
                    <h2>{{item.cat_nombre}}</h2>
                    <p>{{item.cat_descripcion}}</p>
                </div>
            </li>
        </ul>

        <ion-infinite-scroll 
            ng-if="!noMoreItemsAvailable" 
            on-infinite="loadMore()" 
            distance="10%">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles">
        </ion-infinite-scroll>


    </ion-content>
    
</ion-view>
