<ion-side-menus enable-menu-with-back-views="false" >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">

                <button ng-if="$root.extras" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>

            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!-- #3.  $root.extras -->
                <!-- #4.  get_total() -->
                <button ui-sref="shopingcart" ng-if="$root.extras" class="button button-icon button-clear ion-ios-cart-outline">
                    {{totalCart}}
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu21" ng-if="$root.extras" >
        <ion-header-bar class="bar-stable">
            <img ng-src="{{}}" class="avatar motion spin fade">
            <div class="menu-bottom">
                {{user_info.displayName}}
            </div>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close >
                    Menu
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    Categorias
                </ion-item>
                <ion-item menu-close href="#/app/browse">
                    Pedidos
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Mi Pedido
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Pedidos
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Perfil
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Soporte
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    Cerrar Sesion
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

